* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #4b379a;
}
.wrapper{
    margin: 6em 8em 6em 8em;
}
header{
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(172, 89, 202);
    background-image: url(https://image.freepik.com/free-photo/silhouette-of-woman-with-a-city-background_1304-492.jpg);
    background-size: cover;
}

.title >h4{
    color: white;
    text-align: center;
    padding: 10em 4em 0em 4em;
    letter-spacing: 0.5em;
    font-size: 1em;
}
.title >h1{
    width: auto;
    color: white;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 5em;
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 0em 0em 10em 0em;
}
.btn{
    padding: 0.5em 2em 0.5em 2em;
    text-align: center;
    border-radius: 1em;
    border-color: white;
    background-color: #ac59ca;
    color: white;
}

.btn:hover{
    cursor: pointer;
    background-color: brown;
}
.flex-container{
    padding: 0.2em 0em 0em 0em;
}
.flex-container li>a{
    color: white;
    padding: 1em;
    text-decoration: none;
}
.flex-container ul{
    margin-top: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.flex-container li>a:hover{
    color: black;
}

section{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}
.box1{
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.box1 >.pic1{
    justify-content: flex-end;
    margin: 6em 1em 6em 1em;
}

.box1 >.cont1{
    position: relative;
    top: 15em;
    left: 1em;

}
.cont1 .btn{
    margin-top: 3em;
}

.box2{
    width: auto;
    height: 30em;
    background-image: url(https://78.media.tumblr.com/83c22b579688c864f43545efcd929945/tumblr_mp2e25hdE91rzpcpoo1_500.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.box2 .cont2{
    width: 28em;
    height: 20em;
    margin-top: 10em;
    margin-left: 1em;
    float: right;
}

.cont2 > h2{
    margin-bottom: 1em;
}

.cont2 .btn{
    margin-right: 1em;
}

.grid-container{
    padding: 8em 1em;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
}

img{
    width: 100%;
    height: 100%;
}
.im{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box4{
    width: auto;
    height: 8em;
    font-family: 'Montserrat', sans-serif;
    padding: 2em;
    text-align: center;
    font-size: 2.5em;
    color: white;
    background-image: url(https://k34.kn3.net/taringa/2/1/2/2/2/7/80/gabriielnu/391.jpg?9389);
    background-size: cover;
}
.box4 > h4{
    margin-bottom: 2em;
    text-align: center;
    font-size: 0.4em;
    color: white;
}

.btname{
    width: 100%;
    height: 3em;
}
.btnemail{
    width: 100%;
    height: 3em;
}
.btnmess{
    width: 100%;
    height: 10em;
}
.btn{
    width: 10em;
    height: 3em;
    border-radius: 1em;
}
.gridcont2 > form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 30% 30% 30%;
    grid-gap: 1em;
    grid-template-areas: 'name' 'email'
                         'message' 'message'
                         'send' 'send';
}   
.box5{
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 2em;
    text-align: center;
    font-size: 2.5em;   
    color: aqua; 
    background-color: white;
}
.box5 >p{
    color: #cdcdcd;
    margin-bottom: 1em;
}
.box5 > p >strong{
    color: black;
}
#p2{
    font-size: 0.4em;
    color:#cdcdcd;
}
.gridcont3 > form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 30% 30% 30%;
    grid-gap: 1em;
    grid-template-areas: 'ema' 'sub';
                         
} 
.btemail{
    width: 100%;
    height: 3em;
}
.btsub{
    width: 10em;
    height: 3em;
    border-radius: 1em;
    color: white;
    background-color: #ac59ca;
}
footer{
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color:#222222;
    color: white;
    font-size: 1em;
}

.men{
    padding: 6em;
    text-align: center;
}
.men >a{
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
}
.men >a:hover{
    color:#ac59ca;
}
.men >i:hover{
    color:#ac59ca;
}

.men > i{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em;
}







